form label {
  min-width: 200px;
}

form input[name="userid"],
form input[type="text"],
form input[type="password"],
form textarea,
form select {
  color: #333333;
}

#plone-content .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f76a52;
}

.ploneconf-tickets {
  position: relative;
}

.ploneconf-tickets .cart-summary {
  position: absolute;
  right: 0;
  top: -5.5em;
  min-width: 200px
}

.ploneconf-tickets #quantity {
  display: none;
}

span.required {
  color: red;
}

span.required:after {
  content: "■";
  color: #f76a52;
  padding-left: 0.2em;
}

#plone-content #schedule {		
  padding-top: 30px;		
}

.dropdown:after {
  content: '' !important;
}

.training-snippet {
  min-height: 360px;
}

.training-disabled .training-snippet {
  background-color: gray;
  color: #ccc;
}

.training-disabled .training-details dt {
  color: #666;
}

.training-disabled .training-details:before {
  background-color: #666;
}

.training-disabled .training-snippet:before {
  color: #666;
}

li.photo-grid {
  display: inline-table !important;
}

li.video-grid {
  min-width: 250px;
}

li.photo-grid h4 {
  min-height: 0;
}

li.photo-grid .training-snippet a:hover {
  color: #0BDC89;
}

li.photo-grid .training-snippet {
  min-height: 210px;
}
