---
layout: base
---

<section id="index-container">
    <h1>{{ page.title }}</h1>

    {{ content }}
</section>

{% for section in site.categories.homepage reversed %}

  {% capture section_id %}{{ section.title | downcase | replace: ' ', '-' }}{% endcapture %}

  {% if "about-us,work-with-us,plone,drupal" contains section_id %}
    {% assign css_class = "with_padding" %}
  {% else %}
    {% assign css_class = "" %}
  {% endif %}


  <section id="{{ section_id }}-container" class="{{ css_class }} {{padding_pages}}">

    <a href="/#{{ section_id }}" class="sections"><h2>{{ section.title }}</h2></a>

    {% if section_id == "we-work-for" %}

      {% for client in site.categories.clients reversed %}

      <article>

        <a href="{{ client.url }}" class="box">
          <span>{{ client.title }}</span>
          <img src="{{ client.logo }}" width="256" height="256" />
        </a>

        <div class="large_box">

          <h3><a href="{{ client.homepage }}" target="_blank" rel="external">{{ client.title }}</a></h3>

          <p>{{ client.teaser }}</p>

          {{ client.content }}

        </div>

      </article>

      {% endfor %}

    {% elsif section_id == "work-with-us" %}

      {% capture job_listing %}
      {% if site.categories.team %}
      <div class="jobs-box">
        <h3>Open positions <span>0</span></h3>
        <ul>
        {% for job in site.categories.team %}
          <li><a href="{{ job.url }}">{{ job.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <p>You may send a resume to jobs&#64;eaudeweb&#46;ro.</p>
      {% endif %}
      {% endcapture %}
      {{ section.content | replace: '<!-- JOB LISTING -->', job_listing }}

    {% elsif section.title == "EdW news" %}

      <div class="content_box double_box">
        {{ section.content }}
      </div>

      {% for article in site.categories.news limit: 5 %}

      <article>
        <h3>{{ article.title }}</h3>
        <p>
            <time>{{ article.date | date: "%d %B %Y" }}</time>
        </p>

        <p class="last-child">
            {{ article.teaser }}
            <a href="{{ article.url }}">Read more</a>
        </p>

        <span class="box"><img src="{{ article.image }}" /></span>
      </article>

      {% endfor %}

    {% else %}
      {{ section.content }}
    {% endif %}

  </section>

{% endfor %}

