---
layout: default
---

{% for section in site.categories.homepage reversed %}

  <section id="{{ section.name | downcase | replace: ' ', '-' }}-container"
           class="with_padding">

    <h2>{{ section.name }}</h2>

    {% if section.name == "We work for" %}

      {% for client in site.categories.clients reversed %}

      <article>

        <a href="#" class="box">
          <span>{{ client.name }}</span>
          <img src="{{ client.logo }}" width="256" height="256" />
        </a>
        <div class="large_box">
          <h3>{{ client.name }}</h3>
          <p><a href="{{ client.homepage }}"
                rel="external">{{ client.homepage }}</a></p>
          {{ client.content }}
        </div>

      </article>

      {% endfor %}

    {% elsif section.name == "EdW news" %}

      <div class="content_box double_box">
        <p>These are some of the things that have been keeping us busy lately.
        For past news please consult the yearly achives below.</p>
        <ul class="archive">
          <li class="first"><a href="news-archive.html">2011</a></li>
          <li><a href="news-archive.html">2010</a></li>
          <li><a href="news-archive.html">2009</a></li>
          <li><a href="news-archive.html">2008</a></li>
        </ul>
      </div>

      {% for article in site.categories.news %}

      <article>

        <p>
          <time>{{ article.date | date: "%Y.%m.%d" }}</time>

          {{ article.teaser }}
        </p>

      {% endfor %}

    {% else %}
      {{ section.content }}
    {% endif %}

  </section>

{% endfor %}
