---
layout: base
---

<h1 id="index-container">{{ page.title }}</h1>

{% for section in site.categories.homepage reversed %}

  <section id="{{ section.name | downcase | replace: ' ', '-' }}-container"
           class="{{ section.css-class }}">

    <h2>{{ section.name }}</h2>

    {% if section.name == "We work for" %}

      {% for client in site.categories.clients reversed %}

      <article>

        <a href="#" class="box">
          <span>{{ client.name }}</span>
          <img src="{{ client.logo }}" width="256" height="256" />
        </a>
        <div class="large_box">
          <h3>{{ client.name }}</h3>
          <p><a href="{{ client.homepage }}"
                rel="external">{{ client.homepage }}</a></p>
          {{ client.content }}
        </div>

      </article>

      {% endfor %}

    {% elsif section.name == "Our team" %}

      {% if site.categories.jobs %}
        <p>{{ section.jobs-intro-text }}</p>
        <ul>
        {% for job in site.categories.jobs %}
          <li><a href="{{ job.url }}">{{ job.title }}</a></li>
        {% endfor %}
        </ul>
      {% endif %}

      {{ section.content }}

    {% elsif section.name == "EdW news" %}

      <div class="content_box double_box">
        {{ section.content }}
      </div>

      {% for article in site.categories.news limit: 4 %}

      <article>

        <p>
          <time>{{ article.date | date: "%Y.%m.%d" }}</time><br/>
          {{ article.teaser }}
          <a href="{{ article.url }}">Read more</a>
        </p>

        <span class="box"><img src="{{ article.image }}"
          width="256" height="256" /></span>
      </article>

      {% endfor %}

    {% else %}
      {{ section.content }}
    {% endif %}

  </section>

{% endfor %}
