---
layout: base
---


<section id="edw-news-container">

<h1 class="black">{{ page.title }}</h1>

{% for article in site.categories.news %}

  {% if article.year == page.year %}
  <article>

    <h3>{{ article.title }}</h3>
    <time>{{ article.date | date: "%d %B %Y" }}</time>
    
    <p>
        {{ article.teaser }}
        <a href="{{ article.url }}">Read more</a>
    </p>

    <span class="box"><img src="{{ article.image }}"
      width="256" height="256" /></span>
  </article>
  {% endif %}

{% endfor %}

</section>
